<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>List Students</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1>List of Users</h1>
    </div>
     
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>E-mail</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact</th>
                    <th>Address</th>
                    
                    <th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td th:text="${user.id}">User ID</td>
                    <td th:text="${user.email}">E-mail</td>
                    <td th:text="${user.firstname}">First Name</td>
                    <td th:text="${user.lastname}">Last Name</td>
                    <td th:text="${user.contact}">Contact</td>
                    <td th:text="${user.address}">Address</td>
                    
                     <td sec:authorize="hasAnyAuthority('ADMIN')">
                	<a th:href="@{'/edit/' + ${user.id}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{'/delete/' + ${user.id}}">Delete</a>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>